<h2>{{ 'APP.UNIVERZITA-KONA.NAV.HELP-REQUEST' | translate }}</h2>

<form [ngrxFormState]="(formState$ | async)">

  <label for="email">
    {{ 'APP.UNIVERZITA-KONA.CONTENT.HELP-REQUEST.E-MAIL' | translate }}
    <input id="email" type="email" [ngrxFormControlState]="(formState$ | async).controls.email">
    <p *ngIf="(formState$ | async).controls.email.isInvalid && (formState$ | async).controls.email.isTouched" class="invalid">
      {{ 'APP.UNIVERZITA-KONA.CONTENT.INPUT.INVALID' | translate }}
    </p>
  </label>

  <br>

  <label for="phone-number">
    {{ 'APP.UNIVERZITA-KONA.CONTENT.HELP-REQUEST.PHONE-NUMBER' | translate }}
    <input id="phone-number" type="tel" [ngrxFormControlState]="(formState$ | async).controls.phoneNumber">
    <p *ngIf="(formState$ | async).controls.phoneNumber.isInvalid && (formState$ | async).controls.phoneNumber.isTouched" class="invalid">
      {{ 'APP.UNIVERZITA-KONA.CONTENT.INPUT.INVALID' | translate }}
    </p>
  </label>

  <br>

  <button type="submit" [disabled]="!(formState$ | async).isValid">{{'SUBMIT' | translate}}</button>

</form>
