<h2>{{ 'APP.UNIVERZITA-KONA.NAV.HELP-FINANCIALLY' | translate }}</h2>

<form [ngrxFormState]="(formState$ | async)" (ngSubmit)="onSubmit()">

  <label for="areSpecialConditions">
    <input id="areSpecialConditions" type="checkbox" [value]="true" [ngrxFormControlState]="(formState$ | async).controls.areSpecialConditions">
    {{ 'APP.UNIVERZITA-KONA.CONTENT.HELP-FINANCIALLY.ADD-SPECIAL-CONDITIONS' | translate }}
  </label>

  <br>

  <label for="specialConditions" *ngIf="(formState$ | async).controls.areSpecialConditions.value === true">
    {{ 'APP.UNIVERZITA-KONA.CONTENT.HELP-FINANCIALLY.SPECIAL-CONDITIONS' | translate }}
    <textarea id="specialConditions" type="textarea" [ngrxFormControlState]="(formState$ | async).controls.specialConditions"></textarea>
    <p *ngIf="(formState$ | async).controls.specialConditions.isInvalid && (formState$ | async).controls.specialConditions.isTouched" class="invalid">
      {{ 'APP.UNIVERZITA-KONA.CONTENT.INPUT.INVALID' | translate }}
    </p>
  </label>

  <br>

  <button type="submit" [disabled]="!(formState$ | async).isValid">
    {{ 'APP.UNIVERZITA-KONA.CONTENT.HELP-FINANCIALLY.GENERATE-PAYMENT-DATA' | translate }}
  </button>

</form>
